@media (max-width: 1316px){



    

    



           /* secondpart */


           #bigwrap{
            margin-top: 15%;
          }
  






/* third part */



  #roul1{
    display: none;
  }


  

  #roul2{
    display: none;
  }


  /* part4 */

  



}