@media (max-width: 920px){




  #title2{
  
  margin-top: -26%;


  }


    #photopresentation{
       margin-top: 00px;
            
            
        }

    



           /* secondpart */

           #wrapping{
        display: grid;
           position: relative;
            grid-template-columns: 100%;
            width: 460px;
          }        

/* #bigwrap{
    margin-top: -150px;
  }


  #wrap{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 100%;
    grid-gap:0px;
  
  } */

  

.photo2{
    width: 800px;
    height: 600px;
}




/* third part */

#secondpart{
    margin-top: 0px;
      float: left;
      line-height: 20px;
    
      margin-left: 150px;
      font-family: helvetica;
      width: 350px;
  }

  #roul1{
    margin-top: 0px;
    float: left;
    height: 100px;
  }


  #thirdpart{
    position: relative;
        display: block;
    margin-top: 30px;
    margin-left: 65px;
    margin-bottom: -80px;

  }

  #roul2{
    margin-top: 50px;
    margin-left: 150px;
    float: left;
    height: 100px;
  }

  /* #thirdpartbis{
    display: none;
  } */



  /* part4 */

   #equipe{
   
  height: 200px;
    background-color: white;
    display: block;
   
  } 



}