@media (max-width: 940px){

    #background{
       
       
       
        display: grid;
       grid-template-columns: 200px 200px;
       grid-gap: 140px; 
       width: 590px;
      /*  height: 3000px; */
       
    }
    
/* 
    .image2{
        margin-left:15%;
       
        
    margin-top:-150px;
        width:400px;
        position:fixed;
        opacity: 1;
      
    }

    #fleche1{
        height: 50px;
          width: 50px;
          margin-top:500px;
          margin-left:250px;
          position:fixed;
          opacity: 1;
          z-index: 3;
      }
    */
    
    #fleche2{
        height: 50px;
          width: 50px;
          margin-top:500px;
          margin-left:750px;
          position:fixed;
          opacity: 1;
          z-index: 3;
      }

/* 
      #textpara{  

        position: fixed;
         margin-top:450px;
        
         margin-left:180px;  
        color:white;
        z-index: 7;
        
        width: 100%;
        
     }  */




    }