body{
    background-color: #242003;
}

#image{

max-width: 1400px;
max-height: 730px ;
margin-left: auto;
margin-right: auto;
display: block;

margin-top:80px;

}

#wrap{
border: 0px solid red;
}

#cross{
width:150px;
position: absolute;
}

#fleche1{
width:50px;
position: absolute;

margin-top: 350px;
margin-left: 10%;

}

#fleche2{
width:50px;
position: absolute;
margin-top: 350px;
margin-left: -10%;


}

#gridwrap{
display: flex;
}

#paradescription{
    font-family: helvetica;
text-align: center;
color:white;
}
