
@media (max-width: 1200px){


.contentwrap{
    
    display: grid;
    grid-template-columns: 600px 280px;
    grid-gap: 30px;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    
}


#firstpart{
    width: 600px;
    height: 550px;
    background-color: lightgrey;
   
}


#secondpart{
    width: 280px;
    height:550px;
    background-color: lightgrey;
   
}


#name{
    
    height: 44px;
    width: 260px;
   

}

#name1{
    
    height: 44px;
    width: 260px;
   

}


#name2{

    width: 555px;
}



/* part2 */


#telephonenumber{
    
    
    width: 230px;
   
}

.frame{
    padding-top: 0px;
    padding-left:25px;
    width: 230px;
}


}