@media (max-width: 768px){







    .contentwrap{
    
        display: grid;
        grid-template-columns: 100%;
        width: 100%;
        
    }
    


    #firstpart{
        width: 100%;
        height: 550px;
        
       
       
    }


    #secondpart{
        width: 100%;
        
       
       
    }

    #finputs{
        margin-left: 20px;
    }

    #name{
    
        height: 44px;
        width: 46.5%;
        padding-left: 0px;
        margin-left: 0px;
        margin-right: 20px;
    
    }
    #name1{
    margin-right:10px;
        height: 44px;
        width: 46.5%;
        padding-left: 0px;
        margin-left: 0px;
    
    }
    #name2{

        width: 93%;
    }

    #subbut{
        margin-top:50px;
        margin-left: 10px;
        width: 95%;
    }


/* part2 */

.adressetext{
   
    
   
    line-height: 10px;
    
   text-align: center;
}



.adressetext2{
    
   
    line-height: 5px;
    padding-top: 0px;
    text-align: center;
}

.frame{

    padding-top: 50px;
      /* padding-left:20%;  */
    display: block;
     margin-right: auto;
     margin-left: auto;
    width: 360px;
}




}