/* #content{

   border: 2px solid green;
} */


/* part1 */


.contentwrap{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 790px 380px;
    grid-gap: 30px;
    width: 1210px;
    margin-left: auto;
    margin-right: auto;
    
}



#firstpart{
    width: 790px;
    height: 550px;
    background-color: lightgrey;
   
}


#secondpart{
    width: 380px;
    height:550px;
    background-color: lightgrey;
   
}

#name{
    margin-top: 18px;
    border-bottom: 5px solid #1c9293;
    border-top: 0px;
    border-left: 0px;
    border-right:0px;
    margin-left: 20px;
    height: 44px;
    width: 350px;
    padding-left: 10px;
    color: gray;

}

#name1{
    margin-top: 18px;
    border-bottom: 5px solid #1c9293;
    border-top: 0px;
    border-left: 0px;
    border-right:0px;
    margin-left: 20px;
    height: 44px;
    width: 350px;
    padding-left: 10px;
    color: gray;

}

#name2{
    padding-top: -80px;
    margin-top: 18px;
    border-bottom: 5px solid #1c9293;
    border-top: 0px;
    border-left: 0px;
    border-right:0px;
    margin-left: 20px;
    height: 160px;
    width: 733px;
    padding-left: 10px;
    color: gray;
}



#subbut{
    margin-top: 165px;
    margin-left: 0px;
border: 0px;
    background-color: #1c9293;
    height: 45px;
    width: 130px;
    color: white;
    font-size: 20px;
}


/* part2 */

.adressetext{
    margin-top: 30px;
    color: rgb(90, 90, 90);
    font-family: helvetica;
    line-height: 10px;
    
    margin-left: 25px;
}



.adressetext2{
    color: rgb(90, 90, 90);
    font-family: helvetica;
    line-height: 5px;
    padding-top: 0px;
    margin-left: 25px;
}


#telephonenumber{
    margin-top: 15px;
    font-family: helvetica;
    text-align: center;
color: white;
    width: 340px;
    height: 40px;
    background-color: #1c9293;
    margin-left: auto;
    margin-right: auto;
    padding-top:20px;
    border-radius: 15px;
}

.frame{
    padding-top: 0px;
    padding-left:25px;
}



.g-recaptcha{

    margin-top: 17px;
    margin-left: 20px;
}