#logo{
    height: 100px;
    float: left;
}

/* 
#wrap{
    display: block;
    height: 100px;
    width: 1500px;
    margin-top: 00px;
    background-color: red;
} */


#header{
    display: block;
    height: 100px;
    width: 100%;
    margin-top: 00px;
    
}



#menu{
    float:right;
    margin-top: 20px;
    width:89%;
}

/* button */

#button{
    display: none;
}

#togglemenu{
    display: none;
}
ul{
    text-decoration: none;
}

ul li{
    
    display: inline;
    color: #165667;
    font-family: Helvetica;
    font-size: 18px;
    margin-right: 30px;
    margin-top: 50px;
    padding-bottom: 25px;
    text-decoration: none;
    list-style-type: none;
  }


 a{
    
     text-decoration: none;
 }

  ul li:hover{
/* border-bottom: 3px solid#f4d717; */
    color:#165667;
  }


/* MENU */




#revetement1{
    z-index: 500;
    float: left;
    display: grid;
    grid-template-columns: 100%;
    width:60px;

    margin-right:30px;
}

#revetement2{
    float: left;
    
    display: grid;
    grid-template-columns: 100%;
    width:70px;

    margin-right:25px;
}

#revetement3{
    float: left;
    
    display: grid;
    grid-template-columns: 100%;
    width:95px;

    margin-right:30px;
}

#revetement4{
    float: left;
    
    display: grid;
    grid-template-columns: 100%;
    width:180px;
    margin-right:0px;
}
#revetement5{
    float: left;
    
    display: grid;
    grid-template-columns: 100%;
    width:185px;
    margin-right:0px;
}

#revetement6{
    float: left;
    
    display: grid;
    grid-template-columns: 100%;
    width:180px;
    margin-right:0px;
}
#revetement7{
    float: left;
    
    display: grid;
    grid-template-columns: 100%;
    width:80px;
    margin-right:30px;
}
#revetement8{
    float: left;
    
    display: grid;
    grid-template-columns: 100%;
    width:70px;
    margin-right:0px;
}


#entrepriseline0{

    width:0px;
     display: block;
     background-color: #e3b01a;
     height: 3px;
    /*  width: 70px; */
     margin-left: 33px;
    
     margin-top: 5px;
     clear: left;
 
 }




#entrepriseline1{

   width:0px;
    display: block;
    background-color: #e3b01a;
    height: 3px;
   /*  width: 70px; */
    margin-left: 33px;
   
    margin-top: 5px;
    clear: left;

}


#entrepriseline2{

   
    display: block;
    background-color: #e3b01a;
    height: 3px;
  /*   width: 300px; */
  margin-left: 150px;
  width: 0px;
   
    margin-top: 5px;
    clear: left;

}

#entrepriseline3{

   
    display: block;
    background-color: #e3b01a;
    height: 3px;
    /* width: 150px; */
    margin-left: 75px;
    width:0px;
    
   
    margin-top: 5px;
    clear: left;

}

#entrepriseline4{

   
    display: block;
    background-color: #e3b01a;
    height: 3px;
    /* width: 150px; */
    margin-left: 75px;
    width:0px;
    
   
    margin-top: 5px;
    clear: left;

}

#entrepriseline5{

   
    display: block;
    background-color:  #e3b01a;
    height: 3px;
    /* width: 100px; */
    margin-left: 50px;
    width:0px;
    
   
    margin-top: 5px;
    clear: left;

}


#entrepriseline6{

   
    display: block;
    background-color: #e3b01a;
    height: 3px;
   /*  width: 80px; */
   margin-left: 40px;
    width:0px;
    
   
    margin-top: 5px;
    clear: left;

}

#entrepriseline7{

   
    display: block;
    background-color: #e3b01a;
    height: 3px;
     width: 70px; 
   margin-left: 0px;
    
    
   
    margin-top: 5px;
    clear: left;

}

  @media (max-width: 960px){

    /* menu */
    
    
    #bulletmenu li{
        display: inline;
        color:#1c9293;
        font-family: Helvetica;
        font-size: 15px;
        margin-right: 30px;
      }
    
  
    
     
    
  }    






@media (max-width: 900px){

    /* menu */
    
    #logo{
        height: 100px;
        float: left;
        z-index: 80;
    }
    
    #menu{
        display: none;
    }
    
    
    #button{
    
        margin-top: 0px;
        display: block;
        width: 70px;
        height: 200px;
       float: right;
        z-index: 50;
        position:absolute;
        margin-left: 80%;
    }
    
    
    
    
    .line{height:5px ;
        margin-top:20px;
        background-color: #165667;
    }
    
    #togglemenu{
        
        
       
        display: none;
        width: 100%;
        height: 960px;
        background-color: white;
        z-index: 49;
        position: fixed;
    }
    
    
    .horirule{
    display: block;
        height:2px;
        width:400px;
        background-color: #165667;
        position: absolute;
        margin-top: 30px;
        margin-left: 135px;
    }
    
    .horirule2{
        
        display: block;
            height:2px;
            width:400px;
            background-color: #165667;
            position: absolute;
            margin-top: 30px;
            margin-left: 135px;
        }
    
        .horirule3{
            display: block;
                height:2px;
                width:400px;
                background-color: #165667;
                position: absolute;
                margin-top: 40px;
                margin-left: 135px;
            }

            .horirule4{
                display: block;
                    height:2px;
                    width:400px;
                    background-color: #165667;
                    position: absolute;
                    margin-top: -220px;
                    margin-left: 135px;
                }
                .horirule5{
                    display: block;
                        height:2px;
                        width:400px;
                        background-color: #165667;
                        position: absolute;
                        margin-top: -250px;
                        margin-left: 135px;
                    }

                    .horirule6{
                        display: block;
                            height:2px;
                            width:400px;
                            background-color: #165667;
                            position: absolute;
                            margin-top: -280px;
                            margin-left: 135px;
                        }

                        .horirule7{
                            display: block;
                                height:2px;
                                width:400px;
                                background-color: #165667;
                                position: absolute;
                                margin-top: -310px;
                                margin-left: 135px;
                            }
    
    #logowrap{
        margin-top: 25px;
        display: flex;
        margin-left: 0px;
      
        
    }
    
    #logo1{
        width: 300px;
        margin-left: -150px;
    }
    
    #logoname{
        margin-left: 300px;
        margin-top:90px;
        font-size: 15px;
        font-family: helvetica;
        color:#165667;
    }
    
    
    #logowrap2{
        margin-left: 0px;
        margin-top: 10px;
        display: flex;
        width: 900px;
    }
    
    #logo2{
        width: 300px;
        margin-left: -150px;
    }
    
    #logoname2{
        margin-left: 300px;
        width: 600px;
        margin-top:60px;
        font-size: 15px;
        font-family: helvetica;
        color:#165667;
    }
    
    #logowrap3{
        margin-left: 110px;
        margin-top: 20px;
        display: flex;
        
    }
    
   
    
    #logoname3{
        margin-top:50px;
        font-size: 15px;
        font-family: helvetica;
        color:#165667;
        margin-left: 180px;
    }
    
    
    #logowrap4{
        margin-left: -200px;
        margin-top: 350px;
        display: flex;
        
    }
    
  
    
    #logoname4{
       margin-top: -270px;
       font-size: 15px;
       font-family: helvetica;
       color:#165667;
        margin-left: 500px;
    }
    
    
    #logowrap5{
        margin-left: -200px;
        margin-top: 130px;
        display: flex;
        
    }
    
    #logoname5{
        margin-top: -310px;
        font-size: 15px;
        font-family: helvetica;
        color:#165667;
         margin-left: 500px;
     }

     #logowrap6{
        margin-left: -200px;
        margin-top: 130px;
        display: flex;
        
    }
    
    #logoname6{
        margin-top: -340px;
        font-size: 15px;
        font-family: helvetica;
        color:#165667;
         margin-left: 500px;
     }
    
     #logowrap7{
        margin-left: -200px;
        margin-top: 130px;
        display: flex;
        
    }
    
    #logoname7{
        margin-top: -370px;
        font-size: 15px;
        font-family: helvetica;
        color:#165667;
         margin-left: 500px;
     }

     #logowrap8{
        margin-left: -200px;
        margin-top: 130px;
        display: flex;
        
    }
    
    #logoname8{
        margin-top: -400px;
        font-size: 15px;
        font-family: helvetica;
        color:#165667;
         margin-left: 500px;
     }
    
    
}







@media (max-device-width: 1000px){


  /* menu */

#logo{
    height: 200px;
    float: left;
    z-index: 80;
}

#menu{
    display: none;
}

#whitespace{
    z-index: 1;
    display: block;
    background-color:white;
    height:200px;
}


/* button */


#button{
    
    margin-top: 0px;
    display: block;
    width: 150px;
    height: 150px;
    margin-left: 1200px;
    z-index: 50;
    position:absolute;
}

.line{height:15px ;
    margin-top:30px;
    background-color: #165667;
}

#togglemenu{
    
    
   
    display: none;
    width: 1550px;
    height: 3000px;
    background-color: white;
    z-index: 1049;
    position: absolute;
}


.horirule{
display: block;
    height:5px;
    width:90%;
    background-color: #165667;
    position: absolute;
    margin-top: 70px;
    margin-left: 5%;
}

.horirule2{
    display: block;
        height:5px;
        width:90%;
        background-color: #165667;
        position: absolute;
        margin-top: 110px;
        margin-left: 5%;
    }

    .horirule3{
        display: block;
            height:5px;
            width:90%;
            background-color: #165667;
            position: absolute;
            margin-top: 130px;
            margin-left: 5%;
        }

        .horirule4{
            display: block;
                height:5px;
                width:90%;
                background-color: #165667;
                position: absolute;
                margin-top: 130px;
                margin-left: 5%;
            }

            .horirule5{
                display: block;
                    height:5px;
                    width:90%;
                    background-color: #165667;
                    position: absolute;
                    margin-top: -150px;
                    margin-left: 5%;
                }

                .horirule6{
                    display: block;
                        height:5px;
                        width:90%;
                        background-color: #165667;
                        position: absolute;
                        margin-top: -100px;
                        margin-left: 5%;
                    }

                    .horirule7{
                        display: block;
                            height:5px;
                            width:90%;
                            background-color: #165667;
                            position: absolute;
                            margin-top: -100px;
                            margin-left: 5%;
                        }

#logowrap{
    margin-top: 250px;
    display: flex;
    margin-left: 0px;
  
    
}

#logo1{
    width: 300px;
    margin-left: 0px;
}

#logoname{
    margin-left: 300px;
    margin-top:90px;
    font-size: 70px;
    font-family: helvetica;
    color:#165667;
}


#logowrap2{
    margin-left: 0px;
    margin-top: 50px;
    display: flex;
    width: 900px;
}

#logo2{
    width: 300px;
    margin-left: 0px;
}

#logoname2{
    margin-left: 300px;
    width: 600px;
    margin-top:120px;
    font-size: 70px;
    font-family: helvetica;
    color:#165667;
}

#logowrap3{
    margin-left: 110px;
    margin-top: 100px;
    display: flex;
    
}

#logo3{
    width: 250px;
    margin-left: -120px;
}

#logoname3{
    margin-top:110px;
    font-size: 70px;
    font-family: helvetica;
    color:#165667;
    margin-left: 180px;
}


#logowrap4{
    margin-left: -200px;
    margin-top: 350px;
    display: flex;
    
}

#logo4{
    width: 300px;
}

#logoname4{
    padding-top: 50px;
   margin-top: -150px;
   font-size: 70px;
   font-family: helvetica;
   color:#165667;
    margin-left: 500px;
}


#logowrap5{
    margin-left: -450px;
    margin-top: 600px;
    display: flex;
    
}



#logoname5{
   margin-top: -350px;
   font-size: 70px;
   font-family: helvetica;
   color:#165667;
    margin-left: 750px;
}


#logowrap6{
    margin-left: -450px;
    margin-top: 300px;
    display: flex;
    
}



#logoname6{
   margin-top: -300px;
   font-size: 70px;
   font-family: helvetica;
   color:#165667;
    margin-left: 750px;
}

#logowrap7{
    margin-left: -450px;
    margin-top: 300px;
    display: flex;
    
}



#logoname7{
   margin-top: -300px;
   font-size: 70px;
   font-family: helvetica;
   color:#165667;
    margin-left: 750px;
}


#logowrap8{
    margin-left: -450px;
    margin-top: 300px;
    display: flex;
    
}



#logoname8{
   margin-top: -300px;
   font-size: 70px;
   font-family: helvetica;
   color:#165667;
    margin-left: 750px;
}


/* #wrap{
    display: block;
    height: 100px;
    width: 1500px;
    margin-top: 300px;
    background-color: red;
} */



}