#logo{
    height: 77px;
    float: left;
    position: absolute;
    z-index: 10;
}


#header{
    background-color: white;
    height: 90px;
    width:100%;
    margin-top:-10px;
}

#menu{
    padding-top: 15px;
    float:right;
    text-align: right;
    height: 80px;
    width: 100%;
position: absolute;
    background-color: white;
}

/* button */

#button{
    display: none;
}

#togglemenu{
    display: none;
}


#bulletmenu a {
    display: inline-block;
    color:#86bc24;
    font-family: Helvetica;
    font-size: 25px;
    margin-right: 60px;
    text-decoration: none;
    
  }

  a{
      text-decoration: none;
  }

  #bulletmenu li{
    display: inline;
    color:#86bc24;
    font-family: Helvetica;
    font-size: 25px;
    margin-top: -30px;
    margin-right: 30px;
   
  } 


  @media (max-width: 960px){

    /* menu */
    
    
    #bulletmenu li{
        display: inline;
        color:#86bc24;
        font-family: Helvetica;
        font-size: 15px;
        margin-right: 30px;
      }
    
    /* header picture */
    
      #dynamisme{
        font-family: helvetica;
        font-weight: 400;
        color: white;
        width: 100%;
        margin: auto;
    text-align: center;
      position:absolute;
      margin-top: -25%;
      font-size: 28px;
    }
    
  }    










@media (max-device-width: 695px){


  #logo{
    height: 200px;
    float: left;
    z-index: 80;
}

#menu{
    display: none;
}

#header{
    height:200px;
    margin-top:-10px;
   width: 110%;
   margin-left: -5px;
}


/* button */


#button{
    
    margin-top: 0px;
    display: block;
    width: 200px;
    height: 200px;
    margin-left: 750px;
    z-index: 50;
    position:absolute;
}

.line{height:20px ;
    margin-top:40px;
    background-color: #86bc24;
}

#togglemenu{
    
    
   
    display: none;
    width: 100%;
    height: 80%;
    background-color: white;
    z-index: 49;
    position: fixed;
}


.horirule{
display: block;
    height:5px;
    width:90%;
    background-color: #86bc24;
    position: absolute;
    margin-top: 70px;
    margin-left: 5%;
}

.horirule2{
    display: block;
        height:5px;
        width:90%;
        background-color: #86bc24;
        position: absolute;
        margin-top: 110px;
        margin-left: 5%;
    }

    .horirule3{
        display: block;
            height:5px;
            width:90%;
            background-color: #86bc24;
            position: absolute;
            margin-top: 130px;
            margin-left: 5%;
        }

#logowrap{
    margin-top: 250px;
    display: flex;

  
    
}

#logo1{
    width: 300px;
    margin-left: -150px;
}

#logoname{
    margin-left: 300px;
    margin-top:90px;
    font-size: 70px;
    font-family: helvetica;
    color:#86bc24;
}


#logowrap2{
    margin-left: 0px;
    margin-top: 50px;
    display: flex;
    width: 900px;
}

#logo2{
    width: 300px;
    margin-left: 0px;
}

#logoname2{
    margin-left: 300px;
    width: 600px;
    margin-top:120px;
    font-size: 70px;
    font-family: helvetica;
    color:#86bc24;
}

#logowrap3{
    margin-left: 110px;
    margin-top: 100px;
    display: flex;
    
}

#logo3{
    width: 250px;
    margin-left: -120px;
}

#logoname3{
    margin-top:110px;
    font-size: 70px;
    font-family: helvetica;
    color:#86bc24;
    margin-left: 180px;
}


#logowrap4{
    margin-left: -200px;
    margin-top: 350px;
    display: flex;
    
}

#logo4{
    width: 300px;
}

#logoname4{
   margin-top: -150px;
   font-size: 70px;
   font-family: helvetica;
   color:#86bc24;
    margin-left: 500px;
}

}