@media (max-device-width: 1000px){
body{
    background-color: white;
}

    #bigwrap{
        width: 1500px;
       
        margin-top: 110px;
        
       
    }

    #wrapper{
        margin-left:20px;
        
        padding-top: 100px;
        margin-top: 217px;
            display: grid;
            grid-template-columns: 100%;
            background-color: #e2e2e2;
            width: 1500px;
            
        }

        #firsttextpart{
            width: 100%;
            background-color: #e2e2e2;

        }


        #firsttextpart h1{
           
            font-size: 90px;
                
            }


            #firstpara{
                
                font-size: 60px;
                
                line-height: 70px;
                
            }


        #secondimgpart{
            margin-top: 50px;
            margin-bottom: auto;
            
            
            width: 70%;
           
        }

        #img1{
            width: 1500px;

            display: block;
        }
    
        #img2{
            width: 99%;
            display: none;
        }


        #demandevis{
        
          
            margin-top: 70px;
            font-size: 45px;
            
            width:600px;
            height:100px;
            padding-top: 40px;
           
        }


        #secondimgpart{
            
            width: 960px;
        }


/* second part */

#wrapper2{
   
    padding-top: 100px;
    display: flex;
    flex-direction: column-reverse;
        background-color: #e2e2e2;
        width: 1500px;
        margin-left: 0px;
    }


    #secondtextpart h1{
        width: 1150px;
        font-size: 70px;
    }

    #subwrap1{
        
        display: grid;
        grid-template-columns: 200px 200px;
       
        margin-left: 20px;
    }

#textqual{
    
    
   
    min-width: 1100px;
    font-size: 60px;
                line-height:75px;
}


#img3{

    width: 180px;
}


#parapart2{
    font-size: 60px;
    line-height:75px;
                width: 1300px;
}

#firstli{

    font-size: 60px;
                line-height:75px;
                width: 1250px;
}

    #img21{
        display: block;
        width:1500px;
    }
    
        #img22{width: 99%;
            display: none;
        }



    #textqual{
        width:550px;
    }

    #firstimgpart{
       
        width: 1400px;
    }

#secondtextpart{

width: 800px;


}


/* third part */


#firsttextpart2 h1{
    font-size: 80px;
    width: 1500px;
}


#wrapper3{
    padding-top: 100px;
        display: grid;
        grid-template-columns: 100%;
        background-color: #e2e2e2;
        width: 1500px;
        
        margin-left: 0px;
    }

    #demandevis2{
        margin-bottom: 50px;
       
        margin-top: 70px;
        font-size: 45px;
        
        width:600px;
        height:100px;
        padding-top: 45px;
        
    }

#thirdimgpart{
   
    width: 1510px;
    height:600px;
}


/* fourtpart */

#wrapper4{
    padding-top: 250px;
    display: flex;
    flex-direction: column-reverse;
        background-color: white;
        width: 1500px;
        margin-left: 0px;
    }




     #thirdbullet p{
        font-size: 60px;
        line-height:75px;
        width: 1450px;
        margin-bottom: 50px;
    } 

    #firstli2{
        font-size: 60px;
        line-height:75px;
        width: 1150px;
        margin-bottom: 50px;
    }

      #img41{width: 1500px;
       margin-top: -50px;
        display: block;}
    
        #img42{width: 99%;
            display: none;
        }



/* fifth part */

#wrapper5{
    margin-left: 00px;
    width: 1400px;
}

#wrapper5 h1{
    font-size: 90px;
}



#lastpart{
    font-size: 60px;
    line-height:75px;
    width: 1250px;
}

#fourthbullet li{
    font-size: 60px;
    line-height:75px;
    width: 1150px;
}

}