@media (max-width: 1400px){



    #wrapping{
    
        display:block;
        margin-top: 50px;
        padding-top: 0%;
        height: 250px;
      }

      #secondpart{
       border: 2px solid white;
        margin-top: 25px;
        margin-left: 470px;
         
      }

      #secondwrap{
       
        width: 100%;
      
      
      }

      #thirdpart{
        
        
     position: absolute;
        margin-top: 0px;
        margin-left: 475px; 
          
      } 


      /* #thirdpartbis{
        display: inline;
        margin-top: 300px;
        margin-left: -920px;
        float: left;
      } */



#equipe{
  margin-top: 230px;
}

}