

#photopresentation{
  z-index: -1;
    position: relative;
padding-top: 10px;
   
    display: block;
   
    
    
}


#header{
  display: block;
  height: 100px;
 /*  width: 1500px; */
  margin-top: 00px;
  
}

/* #wrap{
  display: block;
  height: 100px;
  width: 1500px;
  margin-top: 00px;
  background-color: red;
} */



.photo1{
    width: 100%;
     position: relative; 
        /* height: 550px; */
       
      }

      #title2{
        z-index: 160;
        font-family: helvetica;
        font-weight: 400;
        color: #e3b01a;
        width: 100%;
        margin: auto;
    text-align: center;
      position:absolute;
      margin-top: -22%;
      font-size: 38px;
    
      }



#wrapping{
  
  
  position: relative;
 margin-top: 100px;
  height:250px;
  width: 100%;
 /*  display: grid;
  grid-template-columns: 33% 36% 36%; */

 
}

#firstpart{


       
  color:rgb(90, 90, 90);
  margin-top: 00px;
    float: left;
    line-height: 20px;
   min-height: 240px;
    margin-left: 50px;
    font-family: helvetica;
    width: 400px;


    
}

#firstpart p{
  text-align: justify;
  text-justify: inter-word;
  font-size: 13px;
 
}

#secondpart{
 
  text-align: justify;
  text-justify: inter-word;

  color:rgb(90, 90, 90);
  margin-top: 00px;
   
    line-height: 20px;
   min-height: 240px;
    margin-left: 50px;
    font-family: helvetica;
    width: 350px;

    margin-left: auto;
    margin-right: auto;
    border: 2px solid white;
}

#secondwrap{
 
  width: 100%;


}

      #secondpart p{
         
          font-size: 13px;
         
      }

      #thirdpart{
   margin-right: 50px;
        float:right;
        text-align: justify;
        text-justify: inter-word;

        position: relative;
        
        color:rgb(90, 90, 90);
        width: 400px;
        margin-top: -240px;
       
          
          line-height: 20px;
          font-family: helvetica;
          min-height: 240px;
         
      }

      #thirdpart p{
        font-size: 13px;
      }

      .lightweight{
        font-weight: 100;
      }


      #roul1{
        margin-top: 170px;
        float: left;
        height: 100px;
      }

      #roul2{
        margin-top: 170px;
        float: right;
        height: 100px;
        padding-right:20px;
      }




    


/* #thirdpartbis{

 
  display: none;
  position: relative;
        
        color:rgb(90, 90, 90);
        width: 350px;
        margin-top: 00px;
          float:right;
          line-height: 20px;
          font-family: helvetica;
          min-height: 240px;
}

#thirdpartbis p{
  font-size: 13px;
} */


      #equipe{
        color: rgb(90, 90, 90);
        font-family: helvetica;
        margin-top: 50px;
        background-color: #e3b01a;
        height: 00px;
      }


      #equipe h2{
        padding-top: 70px;
        text-align: center;
      }
      #equipe h3{
        text-align: center;
      }

      #equipe p{
        text-align: center;
      }